---

const pageTitle = '一個Astro試做部落格';
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>努力學習astro!!</h2>
	<Greeting messages={["aaa", "bbb", "ccc", "ddd", "eee"]} />
	<Greeting client:load messages={["aaa", "bbb", "ccc", "ddd", "eee"]} />
</BaseLayout>