---
import Hamburger from './Hamburger.astro';
import Navigaton from './Navigaton.astro';
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
	<nav>
		<!-- 主題切換 -->
		<!-- 漢堡元件 -->
		<Hamburger />
		<ThemeIcon />
		<Navigaton />
	</nav>
</header>
